<html>
<head>
<meta http-equiv="refresh" content="5" >
<script>
  function getClock(){
    document.getElementById("Clock12").setAttribute("src", '{{ clock[11] }}');
    document.getElementById("Clock11").setAttribute("src", '{{ clock[10] }}');
    document.getElementById("Clock10").setAttribute("src", '{{ clock[9] }}');
    document.getElementById("Clock9").setAttribute("src", '{{ clock[8] }}');
    document.getElementById("Clock8").setAttribute("src", '{{ clock[7] }}');
    document.getElementById("Clock7").setAttribute("src", '{{ clock[6] }}');
    document.getElementById("Clock6").setAttribute("src", '{{ clock[5] }}');
    document.getElementById("Clock5").setAttribute("src", '{{ clock[4] }}');
    document.getElementById("Clock4").setAttribute("src", '{{ clock[3] }}');
    document.getElementById("Clock3").setAttribute("src", '{{ clock[2] }}');
    document.getElementById("Clock2").setAttribute("src", '{{ clock[1] }}');
    document.getElementById("Clock1").setAttribute("src", '{{ clock[0] }}');
    document.getElementById("Timer").innerHTML = "Time to next card: " + '{{ time }}' + ' seconds';
  }
</script>
</head>
<body onload=getClock()>
  <h3 id="Timer"><h3>
  <div style="display:table:cell; text-align:center;">
    <img height="110" id="Clock12"></img>
  </div>
  <div style="display:table:cell; text-align:center;">
    <img height="110" style="margin: 0px 50px" id="Clock11"></img>
    <img height="110" style="margin: 0px 50px" id="Clock1"></img>
  </div>
  <div style="display:table:cell; text-align:center;">
    <img height="110" style="margin: 0px 100px" id="Clock10"></img>
    <img height="110" style="margin: 0px 100px" id="Clock2"></img>
  </div>
  <div style="display:table:cell; text-align:center;">
    <img height="110" style="margin: 0px 150px" id="Clock9"></img>
    <img height="110" style="margin: 0px 150px" id="Clock3"></img>
  </div>
  <div style="display:table:cell; text-align:center;">
    <img height="110" style="margin: 0px 100px" id="Clock8"></img>
    <img height="110" style="margin: 0px 100px" id="Clock4"></img>
  </div>
  <div style="display:table:cell; text-align:center;">
    <img height="110" style="margin: 0px 50px" id="Clock7"></img>
    <img height="110" style="margin: 0px 50px" id="Clock5"></img>
  </div>
  <div style="display:table:cell; text-align:center;">
    <img height="110" id="Clock6"></img>
  </div>
  </div>
</body>
<html>
