<html>
<head>
<meta http-equiv="refresh" content="3" >
<script>
  function getHand(){
    document.getElementById("card0").setAttribute("src", '{{ hand[0] }}');
    document.getElementById("card1").setAttribute("src", '{{ hand[1] }}');
    document.getElementById("card2").setAttribute("src", '{{ hand[2] }}');
    document.getElementById("card3").setAttribute("src", '{{ hand[3] }}');
    document.getElementById("card4").setAttribute("src", '{{ hand[4] }}');
    document.getElementById("Timer").innerHTML = "Time to game starting: " + '{{ time }}' + ' seconds';
  }
</script>
</head>
<body onload=getHand()>
  <h1>Your hand:</h1>
  <img id="card0">
  <img id="card1">
  <img id="card2">
  <img id="card3">
  <img id="card4">
  <h1 id="Timer"><h1>
<html>
